RewriteEngine On

# REDIRECT HTTP TO HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# DENY ACCESS WHN SSL IS NOT USED FOR THE HTTP REQUEST
# SSLRequireSSL

# ALL CONTROLLERS 
# Example: 'accountabroad.com/[controller]'
RewriteRule ^(\w+)$ controllers/$1.php

# USER
# Example: 'accountabroad.com/user/[action_name]
RewriteRule ^user/(\w+)$ controllers/user.php?action=$1

# Example: accountabroad.com/user/reset_password/[email address]/[temp hash]
RewriteRule ^user/reset_password/([^/]*)/(.*)$  /controllers/user.php?action=reset_password&email=$1&temp_hash=$2

# BUDGET
# Example: 'accountabroad.com/budget/[action_name]
RewriteRule ^budget/(\w+)$ controllers/budget.php?action=$1

# Example: 'accountabroad.com/budget/[action_name]/[id]
RewriteRule ^budget/(\w+)/(\w+)$ controllers/budget.php?action=$1&id=$2

# CATEGORY
# Example: 'accountabroad.com/category/[action_name]
RewriteRule ^category/(\w+)$ controllers/category.php?action=$1

# Example: 'accountabroad.com/category/[action_name]/[id]
RewriteRule ^category/(\w+)/(\w+)$ controllers/category.php?action=$1&id=$2

# TAG
# Example: 'accountabroad.com/tag/[action_name]
RewriteRule ^tag/(\w+)$ controllers/tag.php?action=$1

# Example: 'accountabroad.com/tag/[action_name]/[id]
RewriteRule ^tag/(\w+)/(\w+)$ controllers/tag.php?action=$1&id=$2

# ITEM
# Example: 'item/delete/[budget_id]/[id]'
RewriteRule ^item/delete/(\w+)/(\w+)$ controllers/item.php?action=delete?budget_id=$1&id=$2
